* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
.container{
  overflow: hidden;
}
body {
  background-color: #d9d9d9;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: end;
  column-gap: 3.704vw;
  padding-right: 3.935vw;
  padding-top: 2.083vw;
}
.navbar p {
  font-family: Libre Franklin;
  cursor: pointer;
  font-size: 1.389vw;
  font-weight: 600;
}
.header-section {
  height: 62.5vw;
  background-repeat: no-repeat;
  position: relative;
}
img {
  height: 100%;
  width: 100%;
}
.header-img {
  position: absolute;
  top: -2.199vw;
  left: 0;
  width: 47.849vw;
  height: 62.035vw;
}
.header-img2 {
  height: 62.5vw;
  width: 62.558vw;
}
.header-img-wrapper {
  width: 100vw;
  display: flex;
  justify-content: end;
}
.heading-top {
  color: #323232;
  position: absolute;
  z-index: 1;
  margin-left: 1.563vw;
  top: 5.266vw;
}
.heading-top p {
  font-family: Libre Franklin;
  font-size: 7.407vw;
  font-weight: 600;
  line-height: 7.407vw;
  margin-left: 1.563vw;
}
#heading-name {
  font-family: Licorice;
  font-size: 3.704vw;
  font-weight: 400;
  color: #323232;
}
.heading-btn {
  height: 5.787vw;
  position: absolute;
  color: beige;
  z-index: 1;
  width: 25.637vw;
  background-color: #417beb;
  border-radius: 2.894vw;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35.475vw;
  margin-left: 5.15vw;
}
.heading-btn p {
  font-family: Libre Franklin;
  font-size: 2.315vw;
  font-weight: 400;
}
/* ------------------content-section------------------------------ */
.content-section {
  height: 68.576vw;
  position: relative;
}
.content-head {
  display: flex;
  justify-content: center;
  margin-top: 4vw;
}
.content-head p {
  font-family: Libre Franklin;
  font-size: 2.778vw;
  font-weight: 700;
}
.righttop {
  width: 18.75vw;
  height: 31.192vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.rightbtm {
  width: 18.692vw;
  height: 37.674vw;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.leftleaf {
  width: 19.734vw;
  height: 32vw;
  position: absolute;
  left: 0;
  bottom: -10vw;
  z-index: 1;
}
.girl {
  width: 18.229vw;
  height: 21.47vw;
  position: absolute;
  z-index: 1;
  top: 7.639vw;
  left: 5.516vw;
}
.bed {
  width: 25.289vw;
  height: 31.019vw;
  position: absolute;
  z-index: 1;
  right: 9.491vw;
  bottom: 8.558vw;
}
.girl-desc-head {
  position: absolute;
  z-index: 1;
  margin-left: 25.637vw;
  top: 10.88vw;
}
.girl-desc-head p {
  font-family: Libre Franklin;
  font-size: 2.083vw;
  font-weight: 700;
  color: #f0f0f0;
}
.girl-desc {
  position: absolute;
  z-index: 1;
  margin-left: 25.637vw;
  top: 13.947vw;
  width: 50.984vw;
}
.girl-desc p {
  font-family: Libre Franklin;
  font-size: 1.62vw;
  font-weight: 500;
  color: #f0f0f0;
}

.bed-desc-head {
  position: absolute;
  z-index: 1;
  margin-left: 14.641vw;
  top: 38.6vw;
}
.bed-desc-head p {
  font-family: Libre Franklin;
  font-size: 2.083vw;
  font-weight: 700;
  color: #f0f0f0;
}
.bed-desc {
  position: absolute;
  z-index: 1;
  margin-left: 14.641vw;
  top: 42.94vw;
  width: 50.984vw;
}
.bed-desc p {
  font-family: Libre Franklin;
  font-size: 1.62vw;
  font-weight: 500;
  color: #f0f0f0;
}

/* ---------------------------photo section ---------------- */

.photos-section {
  display: flex;
  justify-content: space-around;
}
.nurseleft {
  width: 32.176vw;
  height: 32.176vw;
  margin-top: 10vw;
}
.nurseright {
  width: 36.748vw;
  right: 35.127vw;
}
/* ---------------------------dropdown section ---------------- */

.dropdown-section {
  height: 82.813vw;
  width: 99vw;
  margin-top: 3vw;
  position: relative;
}
.dropdown-heading {
  height: 1.736vw;
  position: absolute;
  top: -4vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.dropdown-heading p {
  font-family: Libre Franklin;
  font-size: 2.778vw;
  font-weight: 700;
}
#tarif-btn {
  height: 5.787vw;
  position: absolute;
  color: beige;
  z-index: 1;
  width: 25.637vw;
  background-color: #417beb;
  border-radius: 2.894vw;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -7vw;
}
.tarif-btn p {
  font-family: Libre Franklin;
  font-size: 2.315vw;
  font-weight: 400;
}
.tarif-btn {
  display: flex;
  justify-content: center;
}
#tarif-btn:hover {
  background-color: white;
  color: black;
}
.heading-btn:hover {
  background-color: white;
  color: black;
}
.tarif-title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Libre Franklin;
  font-size: 3.299vw;
  font-weight: 700;
  position: absolute;
  top: 50.009vw;
}
.tarif-cards {
  background-color: #f0f0f0;
  width: 19.387vw;
  height: 21.586vw;
  position: absolute;
  left: 29.514vw;
  top: 56.819vw;
  border-top-left-radius: 0.761vw;
  border-bottom-left-radius: 0.761vw;
}
.tarif-cards:hover {
  height: 23.785vw;
  background-color: #3b754f;
}
.tarif-cards2:hover {
  height: 23.785vw;
  background-color: #3b754f;
}
.tarif-cards2 {
  background-color: #f0f0f0;
  width: 19.387vw;
  height: 21.586vw;
  position: absolute;
  left: 48.9vw;
  top: 56.819vw;
  border-top-right-radius: 0.761vw;
  border-bottom-right-radius: 0.761vw;
}
.tarif-cards2 p {
  font-family: Lexend;
  font-size: 3.299vw;
  font-weight: 400;
}
.tarif-cards2 span {
  font-family: Lexend;
  font-size: 1.157vw;
  font-weight: 400;
}
.tarif-cards p {
  font-family: Lexend;
  font-size: 3.299vw;
  font-weight: 400;
}
.tarif-cards span {
  font-family: Lexend;
  font-size: 1.157vw;
  font-weight: 400;
}
.bullet-circle {
  height: 0.623vw;
  width: 0.623vw;
  background-color: #aaaaaa;
  border-radius: 50%;
}
.bullets p {
  font-family: Libre Franklin;
  font-size: 1.1vw;
  font-weight: 100;
}
.bullets {
  display: flex;
  column-gap: 1vw;
  padding-left: 1.389vw;
  margin-top: 0.694vw;
}
.consultaion {
  padding-top: 3.356vw;
  padding-left: 1.389vw;
}
.consultaion-text {
  margin-top: 2.025vw;
}
.consultaion-text p {
  font-family: Libre Franklin;
  font-size: 1.66vw;
  font-weight: 300;
  padding-left: 1.389vw;
}
.lastleaf {
  position: absolute;
  bottom: -15vw;
  left: 0;
  width: 17.766vw;
  height: 32.523vw;
}
/* ----------------------slider cards------------- */
.slider-wrapper {
  margin: 4vw 14.5vw 0 3.8vw;
  position: relative;
}
.slider-cards {
  background-color: white;
  width: 17.708vw;
  height: 10.59vw;
  padding-top: 0.752vw;
  display: flex;
  position: absolute;
  border-radius: 1.122vw;
  padding-left: 0.868vw;
}
.firstRow {
  height: 2.525vw;
  width: 2.525vw;
  border-radius: 50%;
  background-color: #512da8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstImg {
  height: 2.525vw;
  width: 2.525vw;
  margin-left: 5.308vw;
}
.firstName {
  margin-left: 0.701vw;
}
.firstName p {
  font-size: 0.771vw;
  font-family: Libre Franklin;
  font-weight: 300;
}
.firstName span {
  font-size: 0.509vw;
  font-family: Libre Franklin;
  font-weight: 300;
}
.starimg {
  height: 1vw;
  width: 6.134vw;
  position: absolute;
  top: 4vw;
  left: 0.8vw;
}
.card-text {
  position: absolute;
  width: 16.319vw;
  height: 5.208vw;
  top: 5.5vw;
  left: 1vw;
}
.card-text p {
  font-family: Libre Franklin;
  font-size: 0.701vw;
  font-weight: 300;
}
.slider-cards-wrapper {
  position: absolute;
  display: flex;
  margin-top: 8.333vw;
}
/* ----------------------------acccordian ------------------ */
:root {
  --primary: #227093;
  --background: #eee;
  --highlight: #ffda79;
  --theme: var(--primary);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Core styles/functionality */
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
  background-color: #224574;
}
.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  color: var(--theme);
  margin-left: 20.37vw;
  width: 59.259vw;
}
.tab__label,
.tab__close {
  display: flex;
  color: white;
  background: #224574;
  cursor: pointer;
}
.tab {
  margin-bottom: 0.9vw;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.926vw;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
  color: white;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}
.accordian-wrapper {
  position: absolute;
  top: 183vw;
  z-index: 2;
}
.brown-color{
  background-color: #FCD6A4;
}
.grape-color{
  background-color: #00C8C8;
}
.black-color{
  background-color: #323232;
}
.green-color{
  background-color: #9DDB96;
}

/* --------------------------mobile screen responsive ---------------- */

@media only screen and (max-width: 1023px) {
.navbar{
  display: flex;
    justify-content: center;
    column-gap: 2vw;
    padding-right: unset;
    padding-top: 1vw;
    width: 99vw;
    position: absolute;
    z-index: 1;
}
.navbar p{
  font-family: Libre Franklin;
    cursor: pointer;
    font-size: 3.607vw;
    font-weight: 600;
}
.header-img2{
  margin-top: 7vw;
}
.heading-top{
  margin-top: 5vw;
}
.tab__label {
    justify-content: space-between;
    padding: 0vw 2vw 0 2vw;
    border-radius: 0.926vw;
    font-size: 3.2vw;
}
.tab__content p {
    font-size: 2.8vw;
}
.content-head {
    margin-top: 3vw;
}
.content-head p{
    font-size: 4vw;
}
.girl-desc-head p {
    font-size: 2.583vw;
}
.girl-desc p {
    font-size: 1.92vw;
}
.bed-desc-head p {
    font-size: 2.483vw;
}
.bed-desc p {
    font-size: 1.92vw;
}
.tarif-title{
  font-size: 7.299vw;
  margin-top: -5vw;
}
.tarif-cards {
    background-color: #f0f0f0;
    width: 27.387vw;
    height: 26.586vw;
    position: absolute;
    left: 21.514vw;
    top: 56.819vw;
    border-top-left-radius: 0.761vw;
    border-bottom-left-radius: 0.761vw;
}.tarif-cards2 {
    background-color: #f0f0f0;
    width: 27.387vw;
    height: 26.586vw;
    position: absolute;
    left: 48.514vw;
    top: 56.819vw;
    border-top-left-radius: 0.761vw;
    border-bottom-left-radius: 0.761vw;
}
.consultaion p{
  font-size: 3.88vw;
}
.consultaion span{
  font-size: 1.88vw;
}
.bullets p {
    font-size: 1.7vw;
}
.starimg {
    top: 1.2vw;
}
.input-1 {
    width: 15.596vw;
    height: 7.324vw;
}
.firstRow{
  font-size: 2vw;
}
}